Language:                                       Cpp
BasedOnStyle:                                   Chromium
IndentWidth:                                    4
TabWidth:                                       4
Standard:                                       Cpp11
AccessModifierOffset:                           -4
ColumnLimit:                                    75
